@import url("https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body,
html {
  font-family: "Gelasio", serif;
  font-weight: 400;
  font-style: normal;
}
.admin_text h1 {
  font-family: "Gelasio", serif;
  font-weight: 900;
  font-style: normal;
}
.admin_box {
  background-color: #fff;

  border: 2px solid #000;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  font-family: "Gelasio", serif;
}
.admin_box h2 {
  color: #000;
  font-family: "Gelasio", serif;
}
.admin_box form {
  margin-block-end: 0em !important;
}
.admin_box_extra {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: "Gelasio", serif;
}
.no_radius {
  border-radius: 0px !important;
}
.no-pad {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.no_underline > a {
  text-decoration: none;
}
.my_btn_dark {
  background-color: #000 !important;
  border: none !important;
  font-family: "Gelasio", serif;
  color: #fff !important;
  font-size: 16px !important;
}
.my_btn_red {
  background-color: #D22B2B !important;
  border: none !important;
  font-family: "Gelasio", serif;
  color: #fff !important;
  font-size: 16px !important;
}
.my_btn_red a 
{
  text-decoration: none;
  color: #fff;
}
.color_white a 
{
  color: #fff;
}
.my_btn_color {
  background-color: #fff !important;
  border: 2px solid #000 !important;
  color: #252a34 !important;
  font-family: "Gelasio", serif;
  font-size: 16px !important;
  padding: 4px 10px;
}
.admin_top {
  background-color: #00adb5 !important;
}
.admin_option > ul {
  border-radius: 0px !important;
  height: calc(100vh - 3.75rem);
}
.admin_option > ul > li {
  border: none !important;
  background-color: transparent;
  overflow-y: auto;
  font-family: "Gelasio", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
.admin_option > ul > li a {
  color: #00adb5;
  padding: 8px;
}
.admin_option > ul > li a:hover {
  background-color: #00adb5;
  color: #252a34;
}
.admin_option {
  background-color: #000;
}
.admin_option a {
  text-decoration: none;
}
.admin_block_border {
  border-top: 1px solid #252a342e;
}
.add_item_sec {
  font-family: "Gelasio", serif;
  font-style: normal;
}
.header_top {
  background-color: #000;
  color: #fff;
  font-family: "Gelasio", serif;
}
.copyright {
  background-color: #00adb5;
  padding: 15px;
  font-family: "Gelasio", serif;
}
.logo {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 40px;
}
.logo > a {
  text-decoration: none;
  color: #000;
  font-family: "Gelasio", serif;
  font-weight: 900;
}
.menu_area {
  font-family: "Gelasio", serif;
  background-color: #fff;
}
.menu_area_menu {
  padding: 12px;
}
.menu_area_menu li {
  display: inline-block;
  margin-left: 15px;
}
.menu_area_menu li a {
  text-decoration: none;
  color: #252a34;
  padding: 8px;
  font-family: "Gelasio", serif;
}
.menu_area_menu li a:hover {
  background-color: #000;
  color: #fff;
}
.cap_center {
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  bottom: initial;
}
.signup_btn a {
  text-decoration: none;
  color: #252a34;
}
.login_page {
  background-color: #f9f6ee;
  font-family: "Gelasio", serif;
}
.log_top_msg {
  margin-left: 6px;
  padding: 2px;
  text-align: center;
  font-size: 16px;
}
.log_top_clr {
  background-color: #D22B2B;
  color: #fff;
}
.blink {
  font-weight: 600;
	/* Uncomment as needed. */
	/* width: 100px; */
	/* height: 100px; */
	/* background-color: deeppink; */
	animation-name: blink;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
	
@keyframes blink {
	0% { opacity:0; }
	50% { opacity:1; }
	100% { opacity:0; }
}
.item_img {
  max-width: 35%;
  max-height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Item_price {
  font-size: 18px;
  color: #ff6347;
  font-weight: 600;
  font-family: "Gelasio", serif;
}
.cart_btn {
  background-color: #000 !important;
  border: none !important;
  outline: none !important;
  font-family: "Gelasio", serif;
}
.cart_btn:hover {
  background-color: #252a34;
  transition: ease-in-out;
  animation-delay: 0.8s;
}
.admin_box_side {
  align-content: center;
  display: inline-flex;
}
.black {
  color: #000;
  font-family: "Gelasio", serif;
}
.slider_caption h1 {
  font-size: 5rem !important;
  font-family: "Gelasio", serif;
}
.product_card {
  font-family: "Gelasio", serif !important;
}
.footer {
  background-color: black;
  color: white;
  padding: 35px 0;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.social-icons a {
  margin: 0 10px;
  color: white;
  font-size: 20px;
}
.responsive_img {
  width: 100%; /* Make the image take the full width of its container */
  height: auto; /* Maintain the aspect ratio */
  max-height: 260px; /* Set a maximum height */
}
.product_title {
  font-family: "Gelasio", serif !important;
}
.subscribe {
  background-color: #fff !important;
  border-radius: 0px !important;
}
.subscribe:hover
{
  color: #000 !important;
}
.subscribe_form
{
  border-radius: 0px !important;
}
.nacc_text
{
  font-size: 18px;
}
.admin_all_img
{
  max-width: 45%;
  max-height: auto;
  display: block;
}
.cart_img
{
  max-width: 20% !important;
  max-height: auto !important;
  display: block !important;
}
.delete_btn a 
{
  text-decoration: none;
  color: #fff;
}
.middle
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none !important;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #fff;
  border-radius: 10px;
  border: 2px solid #000;
  background-color: #000;
}
.carousel-control-prev-icon:after {
  content: '>';
  font-size: 55px;
  color: #fff;
  border-radius: 10px;
  border: 2px solid #000;
  background-color: #000;
}