@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body,
html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.admin_text h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.admin_box {
  background-color: #00adb5;
  padding: 20px;
  border: 2px solid #393e46;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  font-family: "Roboto", sans-serif;
}
.admin_box h2 {
  color: #252a34;
  font-family: "Roboto", sans-serif;
}
.admin_box form {
  margin-block-end: 0em !important;
}
.no_radius {
  border-radius: 0px !important;
}
.no-pad {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.no_underline > a {
  text-decoration: none;
}
.my_btn_dark {
  background-color: #252a34 !important;
  border: 2px solid #252a34 !important;
  font-family: "Roboto", sans-serif;
  color: #00adb5 !important;
  font-size: 16px !important;
}
.my_btn_color {
  background-color: #00adb5 !important;
  border: 2px solid #252a34 !important;
  color: #252a34 !important;
  font-family: "Roboto", sans-serif;
  font-size: 17px !important;
  font-weight: bold;
  padding: 4px 10px;
}
.admin_top {
  background-color: #00adb5 !important;
}
.admin_option > ul {
  border-radius: 0px !important;
  height: calc(100vh - 3.75rem);
}
.admin_option > ul > li {
  border: none !important;
  background-color: transparent;
  color: #00adb5;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
.admin_option > ul > li:hover {
  background-color: #00adb5;
  color: #252a34;
}
.admin_option {
  background-color: #252a34;
}
.admin_block_border {
  border-top: 1px solid #252a342e;
}
.add_item_sec {
  font-family: "Roboto", sans-serif !important;
  font-style: normal;
}
.header_top {
  background-color: #000;
  color: #00adb5;
  font-family: "Roboto", sans-serif;
}
.copyright {
  background-color: #00adb5;
  padding: 15px;
  font-family: "Roboto", sans-serif;
}
.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  font-size: 40px;
}
.logo > a {
  text-decoration: none;
  color: #000;
}
.menu_area {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}
.menu_area_menu {
  padding: 12px;
}
.menu_area_menu li {
  display: inline-block;
  margin-left: 15px;
}
.menu_area_menu li a {
  text-decoration: none;
  color: #252a34;
  padding: 8px;
}
.menu_area_menu li a:hover {
  background-color: #00adb5;
  color: #fff;
}
.cap_center {
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  bottom: initial;
}
.signup_btn a {
  text-decoration: none;
  color: #252a34;
}
.login_page {
  background-color: #f9f6ee;
}
.log_top_msg {
  margin-left: 6px;
  padding: 2px;
  text-align: center;
  font-size: 16px;
}
.log_top_clr {
  background-color: #ff6347;
  color: #fff;
}
.blink
{
  animation: blinker 1.9s linear infinite;
}
@keyframes blinker {
  50% {
      opacity: 0;
  }
}
.item_img
{
  max-width: 50%;
  max-height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Item_price
{
  font-size: 18px;
  color: #ff6347;
  font-weight: 600;
}
.cart_btn:hover
{
  transition: ease-in-out;
  animation-delay: 0.8s;
}